{% extends 'base.tpl' %}

{% block upgrade_rule %}
<Upgrade_Rule>http://{{ ip }}:{{ http_port }}/firmware/Payton_1.4.1_SR5_101419_1250_pfmwr.bin</Upgrade_Rule>
{% endblock %}

{% block suffix %}
{% endblock %}

